In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt

In [2]:
# Reading raw data from file
filename = "data_raw.csv"
df = pd.read_csv(filename)

In [3]:
# Declaring exchange rates to convert some prices stored unappropriately (in wrong currency)
exch_rate_usd_uah = 24
exch_rate_usd_eur = 0.9

In [5]:
# Checking if data has been read correctly 
df.head()

,Unnamed: 0,category_id,mark_id,mark,model_id,model,modification,year,price,currency,...,transmission,body_type_id,body_type,color_id,location,damaged,repaired,confiscated,date_added,link
0,0,NaN,24,Ford,240,Focus,SE,2014,7999,USD,...,Автомат,3,sedan,8,Днепр (Днепропетровск),0,0,0,2019-11-17 12:12:13,https://auto.ria.com/auto_ford_focus_25324085....
1,1,NaN,24,Ford,240,Focus,FLEX FUEL,2014,9650,USD,...,Автомат,3,sedan,13,Одесса,0,0,0,2019-11-16 23:14:06,https://auto.ria.com/auto_ford_focus_25559989....
2,2,NaN,24,Ford,240,Focus,SE,2014,10300,USD,...,Автомат,4,khetchbek,2,Киев,0,0,0,2019-11-15 14:42:23,https://auto.ria.com/auto_ford_focus_25670087....
3,3,NaN,24,Ford,240,Focus,NaN,2017,10800,USD,...,Автомат,3,sedan,0,Тернополь,0,0,0,2019-11-14 15:06:07,https://auto.ria.com/auto_ford_focus_25456273....
4,4,NaN,24,Ford,240,Focus,SE,2018,12400,USD,...,Автомат,4,khetchbek,8,Одесса,0,0,0,2019-11-15 21:40:10,https://auto.ria.com/auto_ford_focus_25528755....

In [6]:
# Checking missing data
missing_data = df.isnull()
missing_data.head()

In [8]:
# Analyzing missing data by each column
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

Unnamed: 0
False    2587
Name: Unnamed: 0, dtype: int64

category_id
True    2587
Name: category_id, dtype: int64

mark_id
False    2587
Name: mark_id, dtype: int64

mark
False    2587
Name: mark, dtype: int64

model_id
False    2587
Name: model_id, dtype: int64

model
False    2587
Name: model, dtype: int64

modification
True     1707
False     880
Name: modification, dtype: int64

year
False    2587
Name: year, dtype: int64

price
False    2587
Name: price, dtype: int64

currency
False    2587
Name: currency, dtype: int64

mileage_str
False    2587
Name: mileage_str, dtype: int64

mileage
False    2587
Name: mileage, dtype: int64

engine
False    2587
Name: engine, dtype: int64

engine_volume
False    2587
Name: engine_volume, dtype: int64

fuel_id
True    2587
Name: fuel_id, dtype: int64

fuel
False    2526
True       61
Name: fuel, dtype: int64

transmission
False    2587
Name: transmission, dtype: int64

body_type_id
False    2587
Name: body_type_id, dtype: int64

body_type
False    2585
True        2
Name: body_type, dtype: int64

color_id
False    2587
Name: color_id, dtype: int64

location
False    2587
Name: location, dtype: int64

damaged
False    2587
Name: damaged, dtype: int64

repaired
False    2587
Name: repaired, dtype: int64

confiscated
False    2587
Name: confiscated, dtype: int64

date_added
False    2551
True       36
Name: date_added, dtype: int64

link
False    2587
Name: link, dtype: int64

In [9]:
# High level overview of data
df.describe(include="all")

,Unnamed: 0,category_id,mark_id,mark,model_id,model,modification,year,price,currency,...,transmission,body_type_id,body_type,color_id,location,damaged,repaired,confiscated,date_added,link
count,2587.000000,0.0,2587.0,2587,2587.0,2587,880,2587.000000,2587.000000,2587,...,2587,2587.000000,2585,2587.000000,2587,2587.000000,2587.00000,2587.0,2551,2587
unique,NaN,NaN,NaN,1,NaN,1,427,NaN,NaN,3,...,6,NaN,9,NaN,264,NaN,NaN,NaN,2541,2580
top,NaN,NaN,NaN,Ford,NaN,Focus,SE,NaN,NaN,USD,...,Ручная / Механика,NaN,universal,NaN,Киев,NaN,NaN,NaN,2019-11-05 11:00:19,https://auto.ria.com/auto_ford_focus_25629919....
freq,NaN,NaN,NaN,2587,NaN,2587,128,NaN,NaN,2563,...,1800,NaN,1128,NaN,449,NaN,NaN,NaN,2,2
mean,1293.000000,NaN,24.0,NaN,240.0,NaN,NaN,2010.342095,9210.912254,NaN,...,NaN,3.175879,NaN,6.880557,NaN,0.010050,0.00116,0.0,NaN,NaN
std,746.946897,NaN,0.0,NaN,0.0,NaN,NaN,4.129771,18219.084655,NaN,...,NaN,8.523181,NaN,4.854658,NaN,0.099765,0.03404,0.0,NaN,NaN
min,0.000000,NaN,24.0,NaN,240.0,NaN,NaN,1999.000000,300.000000,NaN,...,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.00000,0.0,NaN,NaN
25%,646.500000,NaN,24.0,NaN,240.0,NaN,NaN,2008.000000,6200.000000,NaN,...,NaN,2.000000,NaN,2.000000,NaN,0.000000,0.00000,0.0,NaN,NaN
50%,1293.000000,NaN,24.0,NaN,240.0,NaN,NaN,2011.000000,7599.000000,NaN,...,NaN,3.000000,NaN,8.000000,NaN,0.000000,0.00000,0.0,NaN,NaN
75%,1939.500000,NaN,24.0,NaN,240.0,NaN,NaN,2013.000000,9500.000000,NaN,...,NaN,4.000000,NaN,8.000000,NaN,0.000000,0.00000,0.0,NaN,NaN
max,2586.000000,NaN,24.0,NaN,240.0,NaN,NaN,2019.000000,450000.000000,NaN,...,NaN,307.000000,NaN,16.000000,NaN,1.000000,1.00000,0.0,NaN,NaN

In [ ]:
# Dropping rows without price as these are useless
df.dropna(subset=["price"], axis=0, inplace=True)

In [10]:
# Deleting some useless columns
df = df.drop(columns = ["category_id", "mark_id", "model_id", "mileage_str", "fuel_id", "confiscated", "date_added", "link"])
df.head()

In [12]:
# Cleaning column 'engine_volume'
df["engine_volume"].value_counts()

1.60     1250
2.00      667
1.80      201
1.00      193
0.00      131
1.40       86
1.50       30
2.01        7
1.56        4
2.30        3
2.02        3
18.00       2
1.90        1
1.99        1
1.75        1
14.00       1
16.00       1
20.00       1
1.70        1
1.76        1
15.60       1
1.59        1
Name: engine_volume, dtype: int64

In [13]:
df["engine_volume"].value_counts().idxmax()

1.6

In [14]:
df["engine_volume"].replace(0,1.6,inplace=True)

In [15]:
df["engine_volume"] = np.where(df["engine_volume"]>10, df["engine_volume"]/10,df["engine_volume"])

In [16]:
df["engine_volume"] = np.where(df["engine_volume"]>2.5, df["engine_volume"]/10+1,df["engine_volume"])

In [17]:
df["engine_volume"] = round(df["engine_volume"], 1)

In [18]:
# Cleaning column 'fuel'
df["fuel"].value_counts()

benzin        1156
dizel         1024
gaz-benzin     300
elektro         45
gaz              1
Name: fuel, dtype: int64

In [19]:
exclude_fuel = ["elektro", "gibrid"]

In [20]:
df = df[~df["fuel"].isin(exclude_fuel)]

In [21]:
df["fuel"].value_counts()

benzin        1156
dizel         1024
gaz-benzin     300
gaz              1
Name: fuel, dtype: int64

In [22]:
df["fuel"] = np.where(df["fuel"] == "dizel", "diesel", "gas")
df["fuel"].value_counts()

gas       1518
diesel    1024
Name: fuel, dtype: int64

In [23]:
# Cleaning column 'transmission'
df["transmission"].value_counts()

 Ручная / Механика     1800
 Автомат                674
 Не указано              42
 Типтроник               17
 Вариатор                 5
 Адаптивная               4
Name: transmission, dtype: int64

In [24]:
df["transmission"] = np.where(df["transmission"].str.contains("Ручная / Механика"), "manual", "automatic")
df["transmission"].value_counts()

manual       1800
automatic     742
Name: transmission, dtype: int64

In [25]:
# Cleaning column 'body_type'
df["body_type"].value_counts()

universal                 1128
khetchbek                  800
sedan                      582
miniven                     15
kupe                         9
kabriolet                    2
liftbek                      2
vnedorozhnik-krossover       1
drugoj                       1
Name: body_type, dtype: int64

In [26]:
df["body_type"] = np.where(df["body_type"].isin(["universal", "miniven", "drugoj"]), "wagon", df["body_type"])
df["body_type"] = np.where(df["body_type"] == "khetchbek", "hatchback", df["body_type"])
df["body_type"] = np.where(df["body_type"] == "kupe", "coupe", df["body_type"])
df["body_type"] = np.where(df["body_type"] == "kabriolet", "convertible", df["body_type"])

In [27]:
df.describe(include="all")

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired
count,2542.000000,2542,2542,869,2542.000000,2542.000000,2542,2542.000000,2542,2542.000000,2542,2542,2542.000000,2540,2542.000000,2542,2542.000000,2542.00000
unique,NaN,1,1,421,NaN,NaN,3,NaN,43,NaN,2,2,NaN,7,NaN,261,NaN,NaN
top,NaN,Ford,Focus,SE,NaN,NaN,USD,NaN,"Дизель, 1.6 л.",NaN,gas,manual,NaN,wagon,NaN,Киев,NaN,NaN
freq,NaN,2542,2542,128,NaN,NaN,2518,NaN,735,NaN,1518,1800,NaN,1144,NaN,444,NaN,NaN
mean,1291.306058,NaN,NaN,NaN,2010.282061,9143.936271,NaN,1473.421322,NaN,1.670378,NaN,NaN,3.161684,NaN,6.861526,NaN,0.009835,0.00118
std,748.134537,NaN,NaN,NaN,4.136150,18367.731423,NaN,16194.733214,NaN,0.265473,NaN,NaN,8.597624,NaN,4.834745,NaN,0.098701,0.03434
min,0.000000,NaN,NaN,NaN,1999.000000,300.000000,NaN,0.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.00000
25%,642.250000,NaN,NaN,NaN,2008.000000,6200.000000,NaN,102.000000,NaN,1.600000,NaN,NaN,2.000000,NaN,2.000000,NaN,0.000000,0.00000
50%,1291.500000,NaN,NaN,NaN,2010.000000,7500.000000,NaN,168.000000,NaN,1.600000,NaN,NaN,3.000000,NaN,8.000000,NaN,0.000000,0.00000
75%,1938.750000,NaN,NaN,NaN,2013.000000,9500.000000,NaN,203.000000,NaN,2.000000,NaN,NaN,4.000000,NaN,8.000000,NaN,0.000000,0.00000
max,2586.000000,NaN,NaN,NaN,2019.000000,450000.000000,NaN,329000.000000,NaN,2.300000,NaN,NaN,307.000000,NaN,16.000000,NaN,1.000000,1.00000

In [29]:
# Cleaning column 'mileage'
df[df["mileage"]>=1000]

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired
18,18,Ford,Focus,NaN,2006,5500,USD,207000,"Газ/бензин, 2 л.",2.0,gas,manual,2,wagon,8,Киев,0,0
203,205,Ford,Focus,NaN,2008,7100,USD,210000,"Бензин, 1.6 л.",1.6,gas,manual,3,sedan,2,Бобровица,0,0
602,609,Ford,Focus,NaN,2010,7800,USD,158000,"Газ/бензин, 2 л.",2.0,gas,manual,4,hatchback,15,Киев,0,0
770,779,Ford,Focus,NaN,2015,15350,USD,103000,"Дизель, 1.5 л.",1.5,diesel,automatic,2,wagon,15,Одесса,0,0
780,791,Ford,Focus,NaN,1999,4600,USD,329000,"Дизель, 1.8 л.",1.8,diesel,manual,2,wagon,3,Виноградов,0,0
1011,1026,Ford,Focus,SE,2013,9700,USD,105000,"Бензин, 2 л.",2.0,gas,automatic,4,hatchback,0,Запорожье,0,0
1017,1032,Ford,Focus,qwertyu,2007,5900,USD,180000,"Газ/бензин, 1.6 л.",1.6,gas,manual,4,hatchback,3,Шепетовка,0,0
1228,1248,Ford,Focus,MK 3,2014,9000,USD,195000,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,2,Тернополь,0,0
1266,1287,Ford,Focus,NaN,2011,9100,USD,118000,"Бензин, 1.6 л.",1.6,gas,manual,3,sedan,3,Черновцы,0,0
1637,1664,Ford,Focus,SE,2017,11700,USD,1600,"Бензин, 2 л.",2.0,gas,automatic,3,sedan,0,Киев,0,0
1900,1932,Ford,Focus,1.6 дизель,2013,8000,USD,220000,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,8,Черновцы,0,0
1979,2014,Ford,Focus,NaN,2013,8400,USD,175000,"Дизель, 1.6 л.",1.6,diesel,manual,4,hatchback,8,Сумы,0,0
2054,2091,Ford,Focus,комплектация Титаниум,2011,9800,USD,110000,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,8,Житомир,0,0
2153,2193,Ford,Focus,NaN,2010,5600,USD,241826,"Дизель, 1.6 л.",1.6,diesel,manual,4,hatchback,0,Тернополь,0,0
2194,2234,Ford,Focus,se,2016,11800,USD,9000,"Бензин, 2 л.",2.0,gas,automatic,4,hatchback,8,Харьков,0,0
2294,2337,Ford,Focus,NaN,2000,5200,USD,216000,Дизель,1.6,diesel,automatic,2,wagon,0,Мукачево,0,0
2353,2398,Ford,Focus,NaN,2006,5500,USD,208000,"Бензин, 1.4 л.",1.4,gas,manual,3,sedan,3,Херсон,0,0
2386,2431,Ford,Focus,форд фокус,2010,6800,USD,196330,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,13,Хуст,0,0
2409,2454,Ford,Focus,NaN,2010,6650,USD,204100,"Дизель, 1.6 л.",1.6,diesel,manual,4,hatchback,8,Золочев,0,0
2480,2525,Ford,Focus,NaN,2006,4950,USD,161000,"Бензин, 1.6 л.",1.6,gas,manual,3,sedan,3,Киев,0,0

In [30]:
df["mileage"] = np.where(df["mileage"] >= 1000, df["mileage"]/1000, df["mileage"])

In [31]:
df[df["mileage"] >= 1000]

Empty DataFrame
Columns: [Unnamed: 0, mark, model, modification, year, price, currency, mileage, engine, engine_volume, fuel, transmission, body_type_id, body_type, color_id, location, damaged, repaired]
Index: []

In [32]:
df["currency"].value_counts()

USD    2518
UAH      14
EUR      10
Name: currency, dtype: int64

In [33]:
df[df["currency"] == 'UAH' ]

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired
371,375,Ford,Focus,Wagon,2014,230000,UAH,102.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,13,Киев,0,0
474,479,Ford,Focus,Trend Edition,2019,429000,UAH,0.0,Бензин,1.6,gas,manual,4,hatchback,0,Харьков,0,0
619,626,Ford,Focus,Wagon 1.0EcoBoost MT,2014,230000,UAH,101.0,Бензин,1.6,gas,manual,2,wagon,13,Киев,0,0
809,820,Ford,Focus,NaN,2011,200000,UAH,100.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,3,Ивано-Франковск,0,0
820,832,Ford,Focus,NaN,2013,205000,UAH,95.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,8,Черкассы,0,0
829,841,Ford,Focus,Business,2017,450000,UAH,2.0,"Бензин, 1 л.",1.0,gas,manual,4,hatchback,15,Полтава,0,0
1201,1218,Ford,Focus,NaN,2011,150000,UAH,345.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,0,Мукачево,0,0
1306,1327,Ford,Focus,NaN,2013,250000,UAH,31.0,"Бензин, 1 л.",1.0,gas,manual,3,sedan,15,Харьков,0,0
1528,1551,Ford,Focus,NaN,2006,130000,UAH,172.0,Газ/бензин,1.6,gas,automatic,4,hatchback,0,Киев,0,0
1556,1579,Ford,Focus,NaN,2007,163000,UAH,260.0,"Газ/бензин, 1.6 л.",1.6,gas,manual,4,hatchback,8,Днепр (Днепропетровск),0,0
1693,1721,Ford,Focus,NaN,2009,145000,UAH,144.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,0,Ужгород,0,0
2025,2062,Ford,Focus,Trend Wagon 1.6,2012,249000,UAH,125.0,"Бензин, 1.6 л.",1.6,gas,manual,2,wagon,13,Киев,0,0
2182,2222,Ford,Focus,1.6 рестайлинг,2008,150000,UAH,238.0,"Газ/бензин, 1.6 л.",1.6,gas,manual,4,hatchback,3,Полтава,0,0
2363,2408,Ford,Focus,NaN,2013,295000,UAH,102.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,8,Запорожье,0,0

In [34]:
# Adding new column 'price_usd' to have all prices in one currency
df["price_usd"] = np.where(df["currency"] == "UAH", df["price"]/exch_rate_usd_uah, df["price"])
df["price_usd"] = np.where(df["currency"] == "EUR", df["price"]/exch_rate_usd_eur, df["price_usd"])

In [35]:
df[df["currency"] == 'UAH' ]

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired,price_usd
371,375,Ford,Focus,Wagon,2014,230000,UAH,102.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,13,Киев,0,0,9583.333333
474,479,Ford,Focus,Trend Edition,2019,429000,UAH,0.0,Бензин,1.6,gas,manual,4,hatchback,0,Харьков,0,0,17875.000000
619,626,Ford,Focus,Wagon 1.0EcoBoost MT,2014,230000,UAH,101.0,Бензин,1.6,gas,manual,2,wagon,13,Киев,0,0,9583.333333
809,820,Ford,Focus,NaN,2011,200000,UAH,100.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,3,Ивано-Франковск,0,0,8333.333333
820,832,Ford,Focus,NaN,2013,205000,UAH,95.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,8,Черкассы,0,0,8541.666667
829,841,Ford,Focus,Business,2017,450000,UAH,2.0,"Бензин, 1 л.",1.0,gas,manual,4,hatchback,15,Полтава,0,0,18750.000000
1201,1218,Ford,Focus,NaN,2011,150000,UAH,345.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,0,Мукачево,0,0,6250.000000
1306,1327,Ford,Focus,NaN,2013,250000,UAH,31.0,"Бензин, 1 л.",1.0,gas,manual,3,sedan,15,Харьков,0,0,10416.666667
1528,1551,Ford,Focus,NaN,2006,130000,UAH,172.0,Газ/бензин,1.6,gas,automatic,4,hatchback,0,Киев,0,0,5416.666667
1556,1579,Ford,Focus,NaN,2007,163000,UAH,260.0,"Газ/бензин, 1.6 л.",1.6,gas,manual,4,hatchback,8,Днепр (Днепропетровск),0,0,6791.666667
1693,1721,Ford,Focus,NaN,2009,145000,UAH,144.0,"Бензин, 1.6 л.",1.6,gas,manual,4,hatchback,0,Ужгород,0,0,6041.666667
2025,2062,Ford,Focus,Trend Wagon 1.6,2012,249000,UAH,125.0,"Бензин, 1.6 л.",1.6,gas,manual,2,wagon,13,Киев,0,0,10375.000000
2182,2222,Ford,Focus,1.6 рестайлинг,2008,150000,UAH,238.0,"Газ/бензин, 1.6 л.",1.6,gas,manual,4,hatchback,3,Полтава,0,0,6250.000000
2363,2408,Ford,Focus,NaN,2013,295000,UAH,102.0,"Бензин, 1 л.",1.0,gas,manual,2,wagon,8,Запорожье,0,0,12291.666667

In [36]:
df[df["currency"] == 'EUR' ]

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired,price_usd
95,97,Ford,Focus,NaN,2005,4200,EUR,280.0,"Дизель, 2 л.",2.0,diesel,manual,2,wagon,8,Ковель,0,0,4666.666667
148,150,Ford,Focus,ST3,2017,22000,EUR,49.0,"Бензин, 2 л.",2.0,gas,manual,4,hatchback,9,Киев,0,0,24444.444444
409,414,Ford,Focus,Ghia Maximum,2006,4650,EUR,194.0,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,13,Ивано-Франковск,0,0,5166.666667
416,421,Ford,Focus,NaN,2008,5700,EUR,260.0,"Дизель, 1.8 л.",1.8,diesel,manual,2,wagon,0,Черновцы,0,0,6333.333333
1005,1020,Ford,Focus,NaN,2017,13500,EUR,76.0,"Дизель, 1.5 л.",1.5,diesel,manual,2,wagon,3,Харьков,0,0,15000.000000
1160,1176,Ford,Focus,NaN,2008,4500,EUR,350.0,"Бензин, 1.6 л.",1.6,gas,manual,3,sedan,2,Киев,0,0,5000.000000
1282,1303,Ford,Focus,Trend Edition,2018,19500,EUR,0.0,Бензин,1.6,gas,automatic,4,hatchback,0,Полтава,0,0,21666.666667
1285,1306,Ford,Focus,Trend Edition,2018,19500,EUR,0.0,Бензин,1.6,gas,automatic,4,hatchback,0,Полтава,0,0,21666.666667
1350,1372,Ford,Focus,C-Max,2013,10300,EUR,101.0,"Дизель, 1.6 л.",1.6,diesel,manual,2,wagon,3,Сумы,0,0,11444.444444
2507,2552,Ford,Focus,TDCI,2015,10900,EUR,147.0,"Дизель, 1.5 л.",1.5,diesel,manual,2,wagon,3,Киев,0,0,12111.111111

In [37]:
df.mode(axis = 0).head(1)

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired,price_usd
0,0,Ford,Focus,SE,2013.0,6500.0,USD,190.0,"Дизель, 1.6 л.",1.6,gas,manual,2.0,wagon,8.0,Киев,0.0,0.0,6500.0

In [38]:
mode_fuel = df["fuel"].mode()
print(mode_fuel)

0    gas
dtype: object

In [39]:
df["fuel"].replace(np.nan, mode_fuel, inplace = True)

In [41]:
df.describe(include = "all")

,Unnamed: 0,mark,model,modification,year,price,currency,mileage,engine,engine_volume,fuel,transmission,body_type_id,body_type,color_id,location,damaged,repaired,price_usd,high_modification
count,2542.000000,2542,2542,869,2542.000000,2542.000000,2542,2542.000000,2542,2542.000000,2542,2542,2542.000000,2540,2542.000000,2542,2542.000000,2542.00000,2542.000000,2542.000000
unique,NaN,1,1,421,NaN,NaN,3,NaN,43,NaN,2,2,NaN,7,NaN,261,NaN,NaN,NaN,NaN
top,NaN,Ford,Focus,SE,NaN,NaN,USD,NaN,"Дизель, 1.6 л.",NaN,gas,manual,NaN,wagon,NaN,Киев,NaN,NaN,NaN,NaN
freq,NaN,2542,2542,128,NaN,NaN,2518,NaN,735,NaN,1518,1800,NaN,1144,NaN,444,NaN,NaN,NaN,NaN
mean,1291.306058,NaN,NaN,NaN,2010.282061,9143.936271,NaN,157.721816,NaN,1.670378,NaN,NaN,3.161684,NaN,6.861526,NaN,0.009835,0.00118,7913.900865,0.706924
std,748.134537,NaN,NaN,NaN,4.136150,18367.731423,NaN,73.947066,NaN,0.265473,NaN,NaN,8.597624,NaN,4.834745,NaN,0.098701,0.03434,2600.161706,0.455263
min,0.000000,NaN,NaN,NaN,1999.000000,300.000000,NaN,0.000000,NaN,1.000000,NaN,NaN,0.000000,NaN,0.000000,NaN,0.000000,0.00000,300.000000,0.000000
25%,642.250000,NaN,NaN,NaN,2008.000000,6200.000000,NaN,102.000000,NaN,1.600000,NaN,NaN,2.000000,NaN,2.000000,NaN,0.000000,0.00000,6200.000000,0.000000
50%,1291.500000,NaN,NaN,NaN,2010.000000,7500.000000,NaN,168.000000,NaN,1.600000,NaN,NaN,3.000000,NaN,8.000000,NaN,0.000000,0.00000,7500.000000,1.000000
75%,1938.750000,NaN,NaN,NaN,2013.000000,9500.000000,NaN,202.000000,NaN,2.000000,NaN,NaN,4.000000,NaN,8.000000,NaN,0.000000,0.00000,9499.000000,1.000000
max,2586.000000,NaN,NaN,NaN,2019.000000,450000.000000,NaN,999.000000,NaN,2.300000,NaN,NaN,307.000000,NaN,16.000000,NaN,1.000000,1.00000,36999.000000,1.000000

In [42]:
df.dtypes

Unnamed: 0             int64
mark                  object
model                 object
modification          object
year                   int64
price                  int64
currency              object
mileage              float64
engine                object
engine_volume        float64
fuel                  object
transmission          object
body_type_id           int64
body_type             object
color_id               int64
location              object
damaged                int64
repaired               int64
price_usd            float64
high_modification      int32
dtype: object

In [43]:
# reset index (need if we drop rows)
df.reset_index(drop=True, inplace=True)

In [45]:
# Saving clean data for further analysis
df.to_csv("data_clean.csv")